version: '3.8'
services:

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:{{ cadvisor_version }}
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    ports:
      - "{{ cadvisor_publish_port }}:8080"
    labels:
      - prometheus-job=cadvisor
