  prometheus:
    image: prom/prometheus:{{ prometheus_version }}
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus/data"
      - "--web.external-url=http://{{ monitoring_server_fqdn }}:9090"
    volumes:
      - "{{ prometheus_data_dir }}:/prometheus/data"
      - "{{ prometheus_cfg_dir }}/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
      - "{{ prometheus_cfg_dir }}/alerts.yml:/etc/prometheus/alerts.yml:ro"
    ports:
      - "{{ prometheus_publish_port }}:9090"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "{{ prometheus_cpu_limit }}"
          memory: "{{ prometheus_mem_limit }}"
        reservations:
          cpus: "{{ prometheus_cpu_reserv }}"
          memory: "{{ prometheus_mem_reserv }}"

