[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}

[dashboards]
default_home_dashboard_path = /var/lib/grafana/dashboards/default_dashboard.json

[auth.anonymous]
enabled = false
